
<!-- FILEPATH: /c:/Users/jakeq/Computer-Secuirty/src/app/app.component.html -->

<h1>Login</h1>
<!-- FILEPATH: /c:/Users/jakeq/Computer-Secuirty/src/app/app.component.html -->

<form>
  <label for="username">Username:</label>
  <input type="text" id="username" name="username" required>

  <label for="password">Password:</label>
  <input type="password" id="password" name="password" required>

  <button type="submit">Log In</button>
</form>

<a href= "/registration" routerLinkActive="active" >Register Here</a>


